.App {
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  min-height: 100vh;
  overflow-x: hidden;
}
h1 {
  font-family: "Aclonica", sans-serif;
  font-style: bold;
  color: black;
}
p {
  font-family: "Pacifico", cursive;
  font-style: italic;
  color: rgb(10, 1, 1);
}
li {
  font-family: "Yeseva One", cursive;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 50px;
}
.search-bar {
  width: 50%;
  padding: 8px;
  border: none;
  margin-top: 20px;
  outline: none;
  color: #f78ca0;
  border-radius: 10px;
}
.search-button {
  background-color: lightcoral;
  border: none;
  padding: 8px 20px;
  color: white;
  margin-top: 20px;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.recipe {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
